<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ block "title" . }}{{ .Title }} | The Strategists{{ end }}</title>
  <meta name="description" content="{{ .Params.description }}">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <header>
    <h1><a href="{{ "/" | relLangURL }}">The Strategists</a></h1>
    <nav><a href="/episodes">Episodes</a> • <a href="/about">About</a></nav>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    <p>&copy; The Strategists</p>
  </footer>
  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
  </script>
</body>
</html>
